{% load forms %}
{% select "autofocus" field="HaemInformation.patient_type" %}
<span ng-show="editing.haem_information.patient_type == 'Transplant'">
  {% input field="HaemInformation.type_of_transplant" %}
  {% datepicker field="HaemInformation.date_of_transplant" %}
  {% datepicker field="HaemInformation.count_recovery" %}
</span>
<span ng-show="editing.haem_information.patient_type == 'White cell'">
  {% input "autofocus" field="HaemInformation.type_of_chemotherapy" %}
  {% datepicker field="HaemInformation.date_of_chemotherapy" %}
</span>
{% textarea field="HaemInformation.details" %}
