<div ng-hide="row.category_name == 'Research'">
  [[item.hospital_number]]<br />
  [[item.first_name]] [[item.surname]]<br />
  <span ng-show="item.date_of_birth">
    [[item.date_of_birth | shortDate]] ([[ item.date_of_birth | age ]])<br />
  </span>
  [[ item.birth_place ]] [[ item.ethnicity ]]<br />
</div>

<!-- Research study overrides. -->
<div ng-show="row.category_name == 'Research'">
  <b>Study ID:</b>
  [[ row.study_participation[0].study_id ]]
  <span ng-hide="currentSubTag.indexOf('scientist') != -1">
    <br />
    <span ng-hide="profile.has_role('researcher')">
      [[item.name]]<br />
      <span ng-show="item.date_of_birth">
        [[item.date_of_birth | shortDate]] ([[ item.date_of_birth | age ]])<br />
      </span>
      [[ item.birth_place ]], [[ item.ethnicity ]]<br />
    </span>
    <span ng-show="profile.has_role('researcher')">
      Age: [[item.date_of_birth | age]]<br />
    </span>
  </span>
</div>
