<b>[[ item.patient_type ]]</b>:
<div>
  <div ng-show="item.date_of_transplant">
    Date of transplant: [[ item.date_of_transplant | shortDate ]] ([[ item.date_of_transplant | daysSince:false:true ]])
  </div>
  <div ng-show="item.date_of_chemotherapy">
    Date of chemotherapy: [[ item.date_of_chemotherapy | shortDate ]] ([[ item.date_of_transplant | daysSince:false:true ]])
  </div>
  <div ng-show="item.neutropenia_onset">
    Neutropenia onset: [[ item.neutropenia_onset | shortDate ]]
  </div>
  <div ng-show="item.type_of_transplant">
    Type of transplant: [[ item.type_of_transplant ]]
  </div>
  <div ng-show="item.type_of_chemotherapy">
    Type of chemotherapy: [[ item.type_of_chemotherapy ]]
  </div>
  <div ng-show="item.count_recovery">
    Count recovery: [[ item.count_recovery | shortDate ]]
  </div>
  <div ng-show="item.details">
    Details: [[ item.details ]]
  </div>
</div>
