<span ng-show="item.category === 'Followup'">
  Discharged with Follow up<br />
</span>
<span ng-hide="item.category === 'Followup'">
  [[row.category.charAt(0).toUpperCase() + row.category.substring(1)]]<br />
</span>
<span ng-hide="item.hospital=='UCH'">[[item.hospital]] </span>
[[item.ward]] [[item.bed]]<br />
<span ng-show="row.date_of_admission">
  Admitted: [[row.date_of_admission | shortDate]]
</span>
<span ng-show="row.date_of_episode">
  Date: [[row.date_of_episode | shortDate]]
</span>
<span ng-show="row.discharge_date">
  Discharged [[row.discharge_date | shortDate]]
</span>
