Test: [[ item.test | upper]]<br />

<div ng-show="item.test == 'hapvap'">
    Pseudomonas aeruginosa [[ item.pseudomonas_aeruginosa | boxed ]] <br />
    Acinetobacter baumannii [[ item.acinetobacter_baumannii | boxed ]] <br />
    Stenotrophomonas maltophilia [[ item.stenotrophomanas_maltophilia | boxed ]] <br />
    Klebsiella spp [[ item.klebsiella_spp | boxed ]] <br />
    Enterobacter spp [[ item.enterobacter_spp | boxed ]] <br />
    Staphylococcus aureus [[ item.staphylococcus_aureus | boxed ]] <br />
    Staphylococcus MRSA [[ item.staphylococcus_mrsa | boxed ]] <br />
    CTX-M [[ item.ctx_m | boxed ]] <br />
    SHV ESBL [[ item.shv_esbl | boxed ]] <br />
    TEM ESBL [[ item.tem_esbl | boxed ]] <br />
    VIM [[ item.vim | boxed ]] <br />
    IMP [[ item.imp | boxed ]] <br />
    NDM [[ item.ndm | boxed ]] <br />
    KPC [[ item.kpc | boxed ]] <br />
    OXA-48 [[ item.oxa_48 | boxed ]] <br />
    mecA [[ item.meca | boxed ]]
</div>

<div ng-show="item.test == 'cap'">
    Mycoplasma pneumoniae [[ item.mycoplasma_pneumoniae | boxed ]] <br />
    Chlamydophila pneumoniae [[ item.chlamydophila_pneumoniae | boxed ]] <br />
    Legionella pneumophila [[ item.legionella_pneumophila | boxed ]] <br />
    Mycobacterium tuberculosis complex [[ item.mtc | boxed ]] <br />
    Haemophilus influenzae [[ item.haemophilus_influenzae | boxed ]] <br />
    Streptococcus pneumoniae [[ item.streptococcus_pneumoniae | boxed ]] <br />
    RSVA [[ item.rsva | boxed ]] <br />
    RSVB [[ item.rsvb | boxed ]] <br />
    Influenza A [[ item.influenza_a | boxed ]] <br />
    Influenza B [[ item.influenza_b | boxed ]] <br />
    Coronavirus OC43 [[ item.cap_coronavirus_oc43 | boxed ]] <br />
    Coronavirus HKU1 [[ item.cap_coronavirus_hku1 | boxed ]] <br />
    Coronavirus NL63 [[ item.cap_coronavirus_nl63 | boxed ]]
    Coronavirus 229E [[ item.cap_coronavirus_229e | boxed ]]
</div>

<div ng-show="item.test == 'orti'">
    Nocardia spp [[ item.nocardia_spp | boxed ]] <br />
    Rhodococcus equi [[ item.rhodococcus_equi | boxed ]] <br />
    Aspergillus spp [[ item.aspergillus_spp | boxed ]] <br />
    Cryptococcus neoformans [[ item.cryptococcus_neoformans | boxed ]] <br />
    Pneumocystis jiroveci [[ item.pneumocystis_jiroveci | boxed ]] <br />
    Coronavirus OC43 [[ item.orti_coronavirus_oc43 | boxed ]] <br />
    Coronavirus HKU1 [[ item.orti_coronavirus_hku1 | boxed ]] <br />
    Coronavirus NL63 [[ item.orti_coronavirus_nl63 | boxed ]] <br />
    Coronavirus 229E [[ item.orti_coronavirus_nl63 | boxed ]]
</div>
<br />
Notes: [[ item.notes ]]












    






