<b>Success</b>
<p>
  Completed therapy in OPAT with no change in antimicrobial agent, no adverse events, cure or improvement of infection and no readmission
</p>
<b>Partial Success</b>
<p>
  Completed therapy in OPAT with either change in antimicrobial agent or adverse event not requiring admission</p>
<b>Failure of OPAT</b>
<p>
  Readmitted due to infection worsening or due to adverse event. Death due to any cause during OPAT
</p>
<b>Intermediate Outcome</b>
<p>
  Readmission due to unrelated event e.g. chest pain

</p>
