<b>Cured</b>
<p>
Completed OPAT therapy +/- oral step down for defined duration with resolution of infection and no requirement for long term antibiotic therapy (usually relates to less severe infections eg SSTI).
</p>
<b>Improved</b>
<p>
i. Complete OPAT therapy +/- oral step down with partial resolution of infection but need for further follow up OR<br />
ii. Completed OPAT therapy but required escalation of antimicrobial therapy during OPAT (without admission) +/- oral step down with ultimate cure or partial improvement (as above).
</p>
<b>Failed</b>
<p>
Progression or non-response of infection despite OPAT, required admission, surgical intervention or died for any reason
</p>
