<div class="well col-md-12">
  <h3>
    <a href="http://opatregistry.com/">NORS (National Outcomes Registry System) Definitions</a>
  </h3>
  <h4 class="content-offset">
    Episodes
  </h4>
  <p>
    An episode is a period of care for a patient who has been accepted onto the OPAT service and completed treatment.
    They must have been on an IV drug delivered by someone who is not the Inpatient Team
    and must have been on it for at least a day.
  </p>
  <h4 class="content-offset">Episodes Rejected</h4>
  <p>
    The number of episodes rejected by the OPAT service during the quarter.
  </p>
  <h4 class="content-offset">Treatment days saved</h4>
  <p>
    The period of treatment days start on the date the patient was accepted on to the opat service or when they started an IV drug, whichever is latest.
  </p>
  <p>
    The end date is when they came off their last IV antimicrobial.
  </p>
  <p>
    We look at the date of the first IV drug and the date of the last IV drug. This means we include any dates in between
    if the patient is not on IV drugs.
  </p>
  <p>
    The quarter an episode appears in is determined by the date that they finished being on any IV drug.
  </p>
  <h4 class="content-offset">Common reasons why an episode may not be counted</h4>
  <p>It does not have an IV delivered by someone who is not the Inpatient Team.</p>
  <p>The antimicrobial does not have an end date recorded.</p>
  <p>The episode has not been completed, or if it has been rejected from the OPAT service.</p>
  <h3 class="content-offset">
    The above data is for QA only and is not real patient data.
  </h3>

</div>
