{% extends 'modal_base.html' %}
{% load forms %}
{% block icon_name %}glyphicon glyphicon-plus{% endblock %}
{% block title %}Add Patient{% endblock %}
{% block modal_body %}
  <form class="form-horizontal" name="newEpisodeForm">
    {% include models.Demographics.get_form_template %}

    {% if teams %}
      {% select name="teams" label="Teams" lookuplist="tagging_display_list" model="editing.current_tags" multiple=True tagging=False %}
    {% endif %}

  </form>

{% endblock %}

<div class="modal-footer">
  <button class="btn btn-lg btn-primary"
          ng-click="save()"
          ng-disabled="newEpisodeForm.date_of_birth.$invalid"
          >
    <i class="fa fa-save"></i>
    Save record
  </button>
  <button class="btn btn-lg" ng-click="cancel()">Cancel</button>
</div>
