
<h4>0.1.2 (17/02/2014)</h4>
<ul>
  <li>
    New & updated Micro tags - As requested by Gabriele Pollara
  </li>
  <li>
    Added discharge page - Variously requested by Everyone
  </li>
  <li>
    Improved diagnosis auto-suggest - As requested by Mahdad Noursadeghi  & Michael Marks
  </li>
  <li>
    Add new Immune subtags - As requestied by Sophie Flavell
  </li>
  <li>
    Add details field to Past Medical History - As requested by Jon Lambourne
  </li>
  <li>
    Improved Antibiotic section of culture results: now searches list of coded antibiotics - As requested by Gabriele Pollara
  </li>
</ul>

<h4>0.1.1 (06/02/2014)</h4>
<ul>
  <li>
    Add Country of Birth and Ethnic Origin fields to demographics - As requested by Laura Nabarro
  </li>
  <li>
    Rename Pathology to Investigations - As requested by Gabriele Pollara
  </li>
  <li>
    Fixed bug with deleting Investigation results - As reported by Jon Lambourne
  </li>
  <li>
    Increase word limit on Investigation Results - As requested by Michael Marks
  </li>
</ul>
