
<h4>0.2.2 (9/9/2014)</h4>
<ul>
  <li>Bug fixes </li>
  <li>Added "Undischarge Button" to Location Column of discharged patients - Requested by Michael Marks</li>
  <li>Allow users to save Searches - Requested by Gabriele Pollara and Michael Marks</li>
</ul>

<h4>0.2.1 (3/9/2014)</h4>
<ul>
  <li>Numerous bug fixes and interface improvements </li>
  <li>Improved Search result display - now shows Date of Admission and Discharge (Requested by Michael Marks)</li>
  <li>Advanced Search Function - Ability to search database based on all data (Requested by Maddy Noursadeghi)</li>
  <li>Clinical Advice Modal for Microbiology and ID-Liaison now on List View (Requested by Mike Brown and Gabriele Pollara)</li>
</ul>
<h4>0.1.2 (17/02/2014)</h4>
<ul>
  <li>
    New & updated Micro tags - As requested by Gabriele Pollara
  </li>
  <li>
    Added discharge page - Variously requested by Everyone
  </li>
  <li>
    Improved diagnosis auto-suggest - As requested by Mahdad Noursadeghi  & Michael Marks
  </li>
  <li>
    Add new Immune subtags - As requestied by Sophie Flavell
  </li>
  <li>
    Add details field to Past Medical History - As requested by Jon Lambourne
  </li>
  <li>
    Improved Antibiotic section of culture results: now searches list of coded antibiotics - As requested by Gabriele Pollara
  </li>
</ul>

<h4>0.1.1 (06/02/2014)</h4>
<ul>
  <li>
    Add Country of Birth and Ethnic Origin fields to demographics - As requested by Laura Nabarro
  </li>
  <li>
    Rename Pathology to Investigations - As requested by Gabriele Pollara
  </li>
  <li>
    Fixed bug with deleting Investigation results - As reported by Jon Lambourne
  </li>
  <li>
    Increase word limit on Investigation Results - As requested by Michael Marks
  </li>
</ul>
