
<span ng-show="item.acc"> ACC [[item.acc | boxed]] <br /></span>
<span ng-show="item.act_mir"> ACT/MIR [[item.act_mir | boxed]] <br /></span>
<span ng-show="item.bel"> BEL [[item.bel | boxed]] <br /></span>
<span ng-show="item.cmy_i_mox"> CMY I/MOX [[item.cmy_i_mox | boxed]] <br /></span>
<span ng-show="item.cmy_ii"> CMY II [[item.cmy_ii | boxed]] <br /></span>
<span ng-show="item.ctx_m_1_group"> CTX-M-1 group [[item.ctx_m_1_group | boxed]] <br /></span>
<span ng-show="item.ctx_m_1_like"> CTX-M-1 like [[item.ctx_m_1_like | boxed]] <br /></span>
<span ng-show="item.ctx_m_15_like"> CTX-M-15 like [[item.ctx_m_15_like | boxed]] <br /></span>
<span ng-show="item.ctx_m_2_group"> CTX-M-2 group [[item.ctx_m_2_group | boxed]] <br /></span>
<span ng-show="item.ctx_m_3_like"> CTX-M-3 like [[item.ctx_m_3_like | boxed]] <br /></span>
<span ng-show="item.ctx_m_32_like"> CTX-M-32 like [[item.ctx_m_32_like | boxed]] <br /></span>
<span ng-show="item.ctx_m_8_25_group"> CTX-M-8 & -25 group [[item.ctx_m_8_25_group | boxed]] <br /></span>
<span ng-show="item.ctx_m_9_group"> CTX-M-9 group [[item.ctx_m_9_group | boxed]] <br /></span>
<span ng-show="item.dha"> DHA [[item.dha | boxed]] <br /></span>
<span ng-show="item.fox"> FOX [[item.fox | boxed]] <br /></span>
<span ng-show="item.ges"> GES [[item.ges | boxed]] <br /></span>
<span ng-show="item.gim"> GIM [[item.gim | boxed]] <br /></span>
<span ng-show="item.imp"> IMP [[item.imp | boxed]] <br /></span>
<span ng-show="item.kpc"> KPC [[item.kpc | boxed]] <br /></span>
<span ng-show="item.ndm"> NDM [[item.ndm | boxed]] <br /></span>
<span ng-show="item.oxa_23_like"> OXA-23-like [[item.oxa_23_like | boxed]] <br /></span>
<span ng-show="item.oxa_24_like"> OXA-24-like [[item.oxa_24_like | boxed]] <br /></span>
<span ng-show="item.oxa_48_like"> OXA-48-like [[item.oxa_48_like | boxed]] <br /></span>
<span ng-show="item.oxa_58_like"> OXA-58-like [[item.oxa_58_like | boxed]] <br /></span>
<span ng-show="item.per"> PER [[item.per | boxed]] <br /></span>
<span ng-show="item.shv_e240k"> SHV E240K [[item.shv_e240k | boxed]] <br /></span>
<span ng-show="item.shv_g238a"> SHV G238A [[item.shv_g238a | boxed]] <br /></span>
<span ng-show="item.shv_g238s"> SHV G238S [[item.shv_g238s | boxed]] <br /></span>
<span ng-show="item.shv_wt"> SHV wt [[item.shv_wt | boxed]] <br /></span>
<span ng-show="item.spm"> SPM [[item.spm | boxed]] <br /></span>
<span ng-show="item.tem_e104k"> TEM E104K [[item.tem_e104k | boxed]] <br /></span>
<span ng-show="item.tem_g238s"> TEM G238S [[item.tem_g238s | boxed]] <br /></span>
<span ng-show="item.tem_r164c"> TEM R164C [[item.tem_r164c | boxed]] <br /></span>
<span ng-show="item.tem_r164h"> TEM R164H [[item.tem_r164h | boxed]] <br /></span>
<span ng-show="item.tem_r164s"> TEM R164S [[item.tem_r164s | boxed]] <br /></span>
<span ng-show="item.tem_wt"> TEM wt [[item.tem_wt | boxed]] <br /></span>
<span ng-show="item.veb"> VEB [[item.veb | boxed]] <br /></span>
<span ng-show="item.vim"> VIM [[item.vim | boxed]] <br /></span>
    






































