{% extends 'modal_base.html' %}
{% load forms %}
{% block modal_body %}
  <form class="form-horizontal">

    <div
       class="form-group col-sm-3"
       ng-repeat="cp in checkpoints_assay_list"
       >
      <label class="checkbox inline">
        <input type="checkbox" ng-model="editing[cp.replace('-', '_').toLowerCase().replace('/', '_').replace('-', '_'). replace(' ', '_').replace(' ', '').replace('-', '').replace('&', '').replace(' ', '_')]">
        [[ cp ]]
      </label>
    </div>
    {% checkbox label="Negative?" model="editing.negative" %}
    {% textarea label="Comments" model="editing.comments" %}

  </form>
{% endblock %}
