{% extends 'modal_base.html' %}
{% block modal_body %}
<form name="demographicsForm" class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Hospital number</label>
		<div class="controls">
			<input type="text" ng-model="editing.hospital_number">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">NHS number</label>
		<div class="controls">
			<input type="text" ng-model="editing.nhs_number">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Name</label>
		<div class="controls">
			<input type="text" ng-model="editing.name">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Date of birth</label>
		<div class="controls">
		  <input type="text"
                         name="date_of_birth"
			 ng-model="editing.date_of_birth"
			 ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/(\d{4})$/"
			 placeholder="dd/mm/yyyy" />
                <span class="help-block" ng-show="demographicsForm.date_of_birth.$invalid">
                  Date of Birth must be dd/mm/yyyy
                </span>

		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Country of Birth</label>
		<div class="controls">
			<input type="text"
                               ng-model="editing.country_of_birth"
                               ng-options="d for d in destination_list"
                               bs-typeahead >
		</div>
	</div>
	<div class="control-group">
	  <label class="control-label">Ethnicity</label>
		<div class="controls">
			<input type="text" ng-model="editing.ethnicity">
		</div>
	</div>
        <h4> Patient's Contact Details</h4>
        <div class="control-group">
		<label class="control-label">Address line 1</label>
		<div class="controls">
			<input type="text" ng-model="editing.contact_details.address_line1">
		</div>
	</div>
        <div class="control-group">
		<label class="control-label">Address line 2</label>
		<div class="controls">
			<input type="text" ng-model="editing.contact_details.address_line2">
		</div>
	</div>
        <div class="control-group">
		<label class="control-label">City</label>
		<div class="controls">
			<input type="text" ng-model="editing.contact_details.city">
		</div>
	</div>
        <div class="control-group">
		<label class="control-label">County</label>
		<div class="controls">
			<input type="text" ng-model="editing.contact_details.county">
		</div>
	</div>
        <div class="control-group">
		<label class="control-label">Post Code</label>
		<div class="controls">
			<input type="text" ng-model="editing.contact_details.post_code">
		</div>
	</div>
        <div class="control-group">
		<label class="control-label">Telephone 1</label>
		<div class="controls">
			<input type="text" ng-model="editing.contact_details.tel1">
		</div>
	</div>
        <div class="control-group">
		<label class="control-label">Telephone 2</label>
		<div class="controls">
			<input type="text" ng-model="editing.contact_details.tel2">
		</div>
	</div>





</form>

{% endblock %}
{% block modal_save %}
  	  <button class="btn btn-primary" ng-disabled="demographicsForm.date_of_birth.$invalid" ng-click="save('save')">Save</button>
{% endblock %}
