<div ng-hide="row.location[0].category=='Research'">
[[item.hospital_number]]<br />
[[item.name]]<br />
[[item.date_of_birth | shortDate]]<br />
[[ item.country_of_birth ]] [[ item.ethnicity ]]<br />
<a class="btn btn-default screen-only" href="#/episode/[[row.id]]">Patient Details</a>
</div>
<div ng-show="row.location[0].category=='Research'">
<b>Study ID:</b> 
RiDRTI/[[ row.location[0].hospital ]]/[[row.id]]
<br />
[[item.name]]<br />
[[item.date_of_birth | shortDate]]<br />
[[ item.country_of_birth ]] [[ item.ethnicity ]]<br />
</div>
