{% extends 'modal_base.html' %}
{% block modal_body %}
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label">Date</label>
      <div class="controls">
	<input type="text" ng-model="editing.date" bs-datepicker>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Advice given by</label>
      <div class="controls">
	<input type="text" ng-model="editing.initials">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Clinical discussion</label>
      <div class="controls">
	<textarea ng-model="editing.clinical_discussion" rows="5"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Agreed plan</label>
      <div class="controls">
	<textarea ng-model="editing.agreed_plan" rows="5"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Discussed with</label>
      <div class="controls">
	<input type="text" ng-model="editing.discussed_with">
      </div>
    </div>
  </form>
{% endblock %}
