[[item.line_type]] [[item.site]] ([[item.inserted_by]])<br />

Inserted [[item.insertion_datetime| shortDate]]
<br />
<span ng-show="item.external_length">
  External Length [[item.external_length]] cm <br />
</span>
<span ng-hide="item.removal_datetime">
  [[ item.insertion_date | daysSince:1 ]] since insertion
</span>
<span ng-show="item.removal_datetime" >
  Removed [[item.removal_datetime | shortDate]] ([[item.removal_reason]])
  <br />
  In place for [[ item.insertion_datetime |daysTo:item.removal_datetime ]]
</span>
<br />
[[item.vip_score]]<br />
[[item.special_instructions ]]
<span ng-show="item.complications">[[item.complications]]<br /></span>
