{% extends 'modal_base.html' %}
{% load forms %}p
{% block modal_body %}
  <form name="lineForm" class="form-horizontal">
    {% input "autofocus" label="Line Type" model="editing.line_type" lookuplist="line_type_list" %}
    {% input label="Site" model="editing.site" lookuplist="line_site_list" %}
    {% datepicker label="Insertion Date" model="editing.insertion_date" %}
    <div class="form-group" ng-show="editing.line_type == 'Peripheral cannula'">
      <label class="control-label col-sm-3">Insertion Time</label>
      <div class="col-sm-8">
	<input class="form-control" type="text"
               name="insertion_time"
               ng-model="editing.insertion_time"
               placeholder="HHMM"
               ng-pattern="/^([01]\d|2[0-3])([0-5]\d)$/"
               />
      </div>
    </div>
    {% input label="Inserted By" model="editing.inserted_by" %}
    {% input label="External Length When Inserted" model="editing.external_length" show="editing.line_type != 'Peripheral cannula'" unit="cm" %}
    {% datepicker label="Removal Date" model="editing.removal_date" %}

    <div class="form-group" ng-show="editing.line_type == 'Peripheral cannula'">
      <label class="control-label col-sm-3">Removal Time</label>
      <div class="col-sm-8">
	<input class="form-control" type="text"
               name="insertion_time"
               ng-model="editing.removal_time"
               placeholder="HHMM"
               ng-pattern="/^([01]\d|2[0-3])([0-5]\d)$/"
               />
      </div>
    </div>
    {% input label="Complications" model="editing.complications" lookuplist="line_complication_list" %}
    {% input label="Removal Reason" model="editing.removal_reason" lookuplist="removal_reason_list" %}
    {% textarea label="Special Instructions" model="editing.special_instructions" %}
  </form>
{% endblock %}
{% block modal_save %}
  <button class="btn btn-primary" ng-disabled="lineForm.insertion_time.$invalid" ng-click="save('save')">Save</button>
{% endblock %}
