[[item.category]]
<span ng-hide="item.hospital=='UCH'">[[item.hospital]] </span>[[item.ward]] [[item.bed]]
Admitted: [[episode.date_of_admission | date:'d/M']]
<span ng-show="episode.discharge_date">Discharged:</span>
[[episode.discharge_date | date:'d/M']]
<br />
<span ng-repeat="tag in _.keys(item.tags)" class="screen-only">
  <button class="btn btn-xs" ng-click="jumpToTag(tag)" ng-show="tag_display[tag] != undefined">
    [[ tag_display[tag] ]]
  </button>
</span>
<br />
<a class="screen-only" href="#" ng-click="dischargeEpisode($event)"
   ng-hide="profile.readonly">Discharge / Remove</a>
