{% extends 'modal_base.html' %}
{% block modal_body %}
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Date</label>
		<div class="controls">
			<input type="text" ng-model="editing.date" bs-datepicker data-autoclose="true">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Review Undertaken by</label>
		<div class="controls">
			<input type="text" ng-model="editing.initials">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">RV Type</label>
		<div class="controls">
		  <input type="text" ng-model="editing.rv_type">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Discussion</label>
		<div class="controls">
			<textarea ng-model="editing.discussion" rows="5"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">OPAT plan</label>
		<div class="controls">
			<textarea ng-model="editing.opat_plan" rows="5"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Next Review</label>
		<div class="controls">
			<input type="text" ng-model="editing.next_review" bs-datepicker data-autoclose="true">
		</div>
	</div>



</form>
{% endblock %}
