{% extends 'modal_base.html' %}

{% load forms %}

{% block modal_body %}
  <div class="well">
    <small class="text-warning">
      Entries made in this OPAT review cannot be edited after saving. Any further modifications to OPAT review given will require a new entry
    </small>
  </div>
  <form class="form-horizontal" ng-hide="editing.consistency_token" name="modal_form">

    <div class="form-group">
      <label class="control-label col-sm-3">Date</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.date" bs-datepicker data-autoclose="true">
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': modal_form.time2.$invalid}">
      <label class="control-label col-sm-3">
        <i class="fa fa-clock-o"></i> Time
      </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" 
               size="5"
               ng-model="editing.time" 
               data-time-format="HH:mm" 
               data-time-type="number" 
               data-autoclose="1"
               name="time2"
               bs-timepicker>
      </div>
    </div>

    {% input "autofocus" label="Review Undertaken by" model="editing.initials" %}
    {% select label="RV Type" model="editing.rv_type" lookuplist="opat_rvt_list" %} 
    {% textarea label="OPAT Plan" model="editing.opat_plan" macros=True %}
    
    <div ng-show="editing.rv_type.indexOf('Nurse') == 0">
      <hr >
      <h4>Nurse Review</h4>
      {% checkbox label="Dressing changed" model="editing.dressing_changed" %}
      {% checkbox label="Bung changed" model="editing.bung_changed" %}
      {% textarea label="Medication Administered" model="editing.medication_administered" %}
      {% input label="Adverse Events" model="editing.adverse_events" lookuplist="antimicrobial_adverse_event_list" %}
    </div>
    
  </form>
    <div ng-show="editing.consistency_token">
      <ul>
        <li>
          [[editing.rv_type]] [[editing.date ]]
          <br />By [[editing.initials]]
        </li>
        <!-- <li>[[editing.discussion]]</li>  -->
        <li>
          <span class="underline">OPAT Plan:</span>
	  <div markdown="opat_plan"></div>
        </li>
        <li ng-show="item.next_review">
          Next review: [[next_review|shortDate]]
        </li>
      </ul>
    </div>

{% endblock %}
  {% block modal_save %}
  <button ng-hide="editing.consistency_token"
     class="btn btn-primary" ng-click="save('save')">Save</button>
  {% endblock %}
  {% block modal_another %}{% endblock %}
  {% block modal_cancel %}<button class="btn" ng-click="cancel()">Close</button>{% endblock %}
