Test: [[ item.test | upper]]<br />

<div ng-show="item.test == 'hapvap'">
    Pseudomonas aeruginosa [[ item.pseudomonas_aeruginosa | boxed ]] </br>
    Acinetobacter baumannii Stenotrophomonas maltophilia [[ item.absm | boxed ]] </br>
    Klebsiella spp [[ item.klebsiella_spp | boxed ]] </br>
    Enterobacter spp Staphylococcus aureus [[ item.essa | boxed ]] </br>
    Staphylococcus MRSA [[ item.staphylococcus_mrsa | boxed ]] </br>
    CTX-M [[ item.ctx_m | boxed ]] </br>
    SHV ESBL [[ item.shv_esbl | boxed ]] </br>
    TEM ESBL [[ item.tem_esbl | boxed ]] </br>
    VIM [[ item.vim | boxed ]] </br>
    IMP [[ item.imp | boxed ]] </br>
    NDM [[ item.ndm | boxed ]] </br>
    KPC [[ item.kpc | boxed ]] </br>
    OXA-48 [[ item.oxa_48 | boxed ]] </br>
    mecA [[ item.meca | boxed ]]
</div>

<div ng-show="item.test == 'cap'">
    Mycoplasma pneumoniae [[ item.mycoplasma_pneumoniae | boxed ]] </br>
    Chlamydophila pneumoniae [[ item.chlamydophila_pneumoniae | boxed ]] </br>
    Legionella pneumophila [[ item.legionella_pneumophila | boxed ]] </br>
    Mycobacterium tuberculosis complex [[ item.mtc | boxed ]] </br>
    Haemophilus influenzae [[ item.haemophilus_influenzae | boxed ]] </br>
    Streptococcus pneumoniae [[ item.streptococcus_pneumoniae | boxed ]] </br>
    RSVA [[ item.rsva | boxed ]] </br>
    RSVB [[ item.rsvb | boxed ]] </br>
    Influenza A [[ item.influenza_a | boxed ]] </br>
    Influenza B Coronavirus OC43/HKU1 [[ item.influenza_b_coronavirus_oc43 | boxed ]] </br>
    Coronavirus NL63/229E [[ item.coronavirus_nl63_229e | boxed ]]
</div>

<div ng-show="item.test == 'orti'">
    Nocardia spp [[ item.nocardia_spp | boxed ]] </br>
    Rhodococcus equi [[ item.rhodococcus_equi | boxed ]] </br>
    Aspergillus spp Cryptococcus neoformans [[ item.ascn | boxed ]] </br>
    Pneumocystis jiroveci [[ item.pneumocystis_jiroveci | boxed ]] </br>
    Coronavirus OC43/HKU1 [[ item.coronavirus_oc43 | boxed ]] </br>
    Coronavirus NL63/229E [[ item.coronavirus_nl63 | boxed ]]
</div>
<br />
Process Control [[ item.process_control | boxed ]] <br />
Notes: [[ item.notes ]]












    






