{% extends 'accepting.html' %}
{% load stories %}

{% block stories %}
  {% story 'Appearance' 'acceptance/appearance' %}

  {% story 'Teams' 'acceptance/teams' %}
  {% story 'Inpatient lists' 'acceptance/inpatients' %}
  {% story 'Admission, Discharge & Transfer' 'acceptance/adt' %}
  {% story 'Inpatient Discharge Data Collection' 'acceptance/discharge_diagnosis' %}
  {% story 'Detail view' 'acceptance/detail' %}

  {% story 'Search' 'acceptance/search' %}

  {% story 'Discharged last week' 'acceptance/dlw' %}

  {% story 'OPAT' 'acceptance/opat' %}
  {% story 'Walkin' 'acceptance/walkin' %}
  {% story 'Micro Haem' 'acceptance/microhaem' %}
  {% story 'Dashboards' 'acceptance/dashboards' %}

{% endblock %}
