{% extends 'detail/detail_base.html' %}
{% load panels %}

{% block left_column %}
  {% include "partials/current_location.html" %}
  {% record_panel models.Allergies %}
  {% record_panel models.InpatientAdmission editable=False %}
  {% record_panel models.PastMedicalHistory %}
  {% record_panel models.Travel %}
  {% record_panel models.MicrobiologyInput %}
{% endblock %}
{% block right_column %}
  {% record_panel models.PresentingComplaint %}
  {% record_panel models.PrimaryDiagnosis only_display_if_exists=True %}
  {% record_panel models.SecondaryDiagnosis only_display_if_exists=True %}
  {% record_panel models.ConsultantAtDischarge only_display_if_exists=True %}
  {% record_panel models.Diagnosis %}
  {% record_panel models.Antimicrobial %}
  {% record_panel models.MicrobiologyTest %}
  {% record_panel models.Todo %}
  {% record_panel models.GeneralNote %}
{% endblock %}
