{% load forms %}
<div class="container content-offset">
  <div class="panel panel-primary panel-container">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        {% icon 'fa-user' %}
        {% block heading %}[[ episode.demographics[0].name ]]{% endblock %}
        <small>
          {% block subheading %}
            [[ episode.demographics[0].hospital_number ]]
            [[ episode.demographics[0].date_of_birth | shortDate ]]
          {% endblock %}
        </small>

      </h2>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 col-md-push-2" style="font-size: 18px;">
          {% block content %}
          {% endblock content %}

        </div>
      </div>

    </div> <!-- Panel body -->
  </div>   <!-- Panel -->
</div>     <!-- Container -->
