[run]
source =
       elcid
       microhaem
       infectiousdiseases
       opat
       walkin
       search

omit =
    */migrations/*
    elcid/test/*
    elcid/settings.py
    elcid/local_settings.py
    elcid/wsgi*
    microhaem/tests/*
    opat/tests/*
    research/tests/*
    walkin/tests/*
    search/tests/*

[report]

exclude_lines =
    def __unicode__
