django==1.8.3
coverage==3.6
dj-database-url==0.2.1
gunicorn==0.17.4
psycopg2==2.5
wsgiref==0.1.2
dj-static==0.0.6
django-reversion==1.8.7
django-axes==1.4.0
ffs==0.0.7.6
letter==0.4.1
supervisor
django-debug-toolbar
mock==1.0.1
requests==2.7.0
python-dateutil==2.4.2
djangorestframework==3.2.2
celery==3.1.19
django-celery==3.1.17

django-compressor==1.5
Fabric==1.10.2

-e git+https://github.com/openhealthcare/opal.git@rfh-user-journey-branch#egg=opal
-e git+https://github.com/openhealthcare/opal-observations.git@master#egg=opal_observations

-e git+https://github.com/openhealthcare/opal-opat.git@master#egg=opal_opat
-e git+https://github.com/openhealthcare/opal-pathway.git@master#egg=opal_pathway

-e git+https://github.com/openhealthcare/opal-dischargesummary.git@master#egg=opal_dischargesummary
-e git+https://github.com/openhealthcare/opal-guidelines.git@#egg=opal_guidelines
-e git+https://github.com/srosro/django-test-coverage#egg=django-test-coverage

-e git+https://github.com/openhealthcare/opal-taskrunner.git@#egg=opal_taskrunner
