# cryptography is required for heroku deployment
Fabric==1.14.0
django==1.10.8
coverage==3.6
dj-database-url==0.2.1
gunicorn==0.17.4
psycopg2==2.7
dj-static==0.0.6
django-reversion==1.10.2
django-axes==1.7.0
ffs==0.0.8.2
letter==0.4.1
django-debug-toolbar==1.2.1
mock==1.0.1
requests==2.18.4
python-dateutil==2.4.2
djangorestframework==3.4.7
celery==3.1.25
django-celery==3.2.2
django-compressor==1.5
jsonfield==1.0.3
pycrypto==2.6.1
six==1.10.0
future==0.16.0
supervisor==3.0

-e git+https://github.com/openhealthcare/opal.git@earch-with-fetures-needed-for-extract#egg=opal

-e git+https://github.com/openhealthcare/opal-reporting.git@v0.2#egg=opal_reporting
-e git+https://github.com/openhealthcare/opal-observations.git@v0.5.0#egg=opal_observations

-e git+https://github.com/openhealthcare/opal-wardround.git@v0.10.0#egg=opal_wardround
-e git+https://github.com/openhealthcare/opal-dashboard.git@v0.5.0#egg=opal_dashboard

-e git+https://github.com/openhealthcare/opal-dischargesummary.git@v0.5.0#egg=opal_dischargesummary
-e git+https://github.com/openhealthcare/opal-guidelines.git@v0.4.0#egg=opal_guidelines

-e git+https://github.com/srosro/django-test-coverage#egg=django-test-coverage
