Django==1.5.2
South==0.8.1
coverage==3.6
dj-database-url==0.2.1
gunicorn==0.17.4
psycopg2==2.5
wsgiref==0.1.2
dj-static==0.0.5
django-reversion
django-axes==1.3.3
-e git://github.com/openhealthcare/opal.git@9501a0d11158c32c26cd058b824fd28a93905075#egg=opal
