{% extends 'base_templates/modal_base.html' %}
{% load forms %}

{% block icon_name %}fa fa-comments{% endblock %}
{% block modal_body %}
<form class="form-horizontal">
  {% datetimepicker field="MicrobiologyInput.when" %}
  {% input field="MicrobiologyInput.initials" %}
  {% select label="Type Of Advice" field="MicrobiologyInput.reason_for_interaction" lookuplist="['Appointment discussion', 'Phone consultation']" %}
  {% textarea field="MicrobiologyInput.clinical_discussion" macros=True %}
  {% input field="MicrobiologyInput.discussed_with" %}
</form>
{% endblock %}
