{% load forms %}
<div>
  <div ng-repeat="antimicrobial in editing.antimicrobial">
    <span ng-show="!antimicrobial.submitted">
      <span ng-class="{'warning-state': antimicrobialStep.warning}">
        {% input "autofocus" disabled="antimicrobialStep.none" label="Drug" model="antimicrobial.drug" lookuplist="antimicrobial_list" change="antimicrobialStep.reset()" %}
        {% datepicker disabled="antimicrobialStep.none" label="Start date" model="antimicrobial.start_date" change="antimicrobialStep.reset()" %}
        {% datepicker disabled="antimicrobialStep.none" label="End date" model="antimicrobial.end_date" change="antimicrobialStep.reset()" %}
      </span>
      {% input label="Dose" disabled="antimicrobialStep.none" model="antimicrobial.dose" %}
      {% input label="Route" disabled="antimicrobialStep.none" model="antimicrobial.route" lookuplist="antimicrobial_route_list" %}
      {% select label="Frequency" disabled="antimicrobialStep.none" model="antimicrobial.frequency" lookuplist="antimicrobial_frequency_list" %}
      <btn type="button" ng-disabled="antimicrobialStep.none" ng-click="antimicrobialStep.addAnother(antimicrobial)" class="btn btn-primary"><i class="fa fa-plus"></i> Add Another</btn>
    </span>
    <span ng-show="antimicrobial.submitted">
          <div class="well">
            <div class="row">
              <div class="col-md-10">
                [[antimicrobial.start_date | shortDate]]-[[antimicrobial.end_date | shortDate]]
                [[antimicrobial.drug]] [[antimicrobial.dose]] [[antimicrobial.route]] [[ antimicrobial.frequency ]] [[antimicrobial.delivered_by]]
                <br />[[ antimicrobial.comments ]]
              </div>
              <div class="col-md-2">
                <btn class=" pointer" type="button" ng-click="antimicrobialStep.remove($index)"><i class="fa fa-minus"></i></btn>
              </div>
          </div>
        </div>
    </span>
  </div>
  <span ng-class="{'warning-state': antimicrobialStep.warning}">
    {% checkbox change="antimicrobialStep.clear()" label="Not on Antimicrobials" model="antimicrobialStep.none" %}
  </span>
</div>
