{% load forms %}
{% input field="LabSpecimin.specimin_type" %}
{% datepicker field="LabSpecimin.date_collected" %}
{% input field="LabSpecimin.volume" unit="ml" %}
{% input field="LabSpecimin.appearance" %}
{% input field="LabSpecimin.epithelial_cell" %}
{% input field="LabSpecimin.white_blood_cells" %}
{% datepicker field="LabSpecimin.date_tested" %}
{% input field="LabSpecimin.external_id" %}
{% checkbox field="LabSpecimin.biobanking" %}
{% input field="LabSpecimin.biobanking_box" %}
{% datepicker field="LabSpecimin.date_biobanked" %}
{% input field="LabSpecimin.volume_biobanked"}
