{% load forms %}
<div ng-hide="profile.has_role('scientist')">
  {% select "autofocus" field="LabTest.test" lookuplist="specimin_appearance_list" %}
  {% datepicker field="LabTest.date_ordered" %}
  {% input field="LabTest.details" lookuplist="labtestdetails_list"%}
  {% checkbox field="LabTest.significant_organism" %}
  {% input field="LabTest.organism_details" %}
  {% input field="LabTest.antimicrobials_susceptible" %}
  {% input field="LabTest.antimicrobials_intermediate" %}
  {% input field="LabTest.antimicrobials_resistant" %}
  {% checkbox field="LabTest.retrieved" %}
</div>
{% checkbox field="LabTest.sweep_biobanked" %}
{% checkbox field="LabTest.organism_biobanked" %}
{% checkbox label="ESBL" field="LabTest.esbl" model="editing.lab_test.esbl" %}
{% checkbox field="LabTest.carbapenemase" %}
