<select class="form-control content-offset-25"
        ng-show="extractSchema.isText(query.column, query.field)"
        ng-model="query.queryType" tooltip-trigger="focus"
        tooltip-placement="top" uib-tooltip="3. Select your query type"
        set-focus-if="query.column && query.field"
        ng-if="query.column && query.field"
        >
  <option>Equals</option>
  <option ng-show="extractSchema.isText(query.column, query.field)">Contains</option>
</select>
<input type="text"
       class="form-control content-offset-25"
       ng-model="query.query"
       uib-typeahead="x for x in extractSchema.getChoices(query.column, query.field, referencedata) | filter:$viewValue | limitTo:8"
       placeholder="4. Add your value"
       ng-keypress="$event.keyCode == 13 && search()"
       ng-if="query.column && query.field && query.queryType"
       set-focus-if="query.column && query.field && query.queryType"
       />
