{% load panels %}
<div class="col-md-12">
  <div class="panel panel-active">
    <div class="panel-heading text-center">
      <h3>
        {% block title %}
        Tropical Liaison
        [[ episode.start | shortDate]]
          <span ng-show="episode.end"> - [[ episode.end | shortDate ]]</span>
        {% endblock title %}
      </h3>
    </div>
    <!-- <div class="panel-body"> -->
    <!--   <center> -->
    <!--     <button -->
    <!--        ng-hide="profile.readonly" -->
    <!--        ng-click="dischargeEpisode(episode)" -->
    <!--        class="btn btn-primary btn-lg"> -->
    <!--       <i class="fa fa-home"></i> -->
    <!--       <span ng-show="episode.end">Confirm</span> -->
    <!--       Discharge -->
    <!--     </button> -->
    <!--   </center> -->
    <!-- </div> -->
  </div>
</div>

<div class="col-md-6"> <!-- Detail panels col 1 -->
  {% record_panel models.ExternalLiaisonContactDetails %}
  {% record_panel models.Allergies noentries="No known allergies"%}
  {% record_panel models.PastMedicalHistory %}
  {% record_panel models.Travel %}
  {% record_timeline models.MicrobiologyInput "when" %}
</div>                 <!-- Ends Detail panels col 1 -->
<div class="col-md-6"> <!-- Detail panels col 2 -->
  {% record_panel models.PresentingComplaint %}
  {% record_panel models.PrimaryDiagnosis only_display_if_exists=True %}
  {% record_panel models.SecondaryDiagnosis only_display_if_exists=True %}
  {% record_panel models.ConsultantAtDischarge only_display_if_exists=True %}
  {% record_panel models.Diagnosis %}
  {% record_panel models.Antimicrobial %}
  {% record_panel models.MicrobiologyTest %}
  {% record_panel models.Todo %}
  {% record_panel models.GeneralNote %}
</div>                 <!-- Ends Detail panels col 2 -->
