{% extends "referral/referral.html" %}

{% block editing_demographics_title %}
  <p class="lead text-center">
    We couldn't find any patients with this hospital number.
  </p>
  <p class="lead text-center">
    <b>Please check you have entered the hospital number correctly</b>
  </p>
  <p class="lead text-center">
    If this is the correct number and the patient is currently at a different hospital or in the community you can add them as an elCID only patient
  </p>
{% endblock editing_demographics_title %}
