{% extends "referral/referral.html" %}
{% load forms %}
{% block additional_models_header %}
<i class="fa fa-user"></i>
  [[ nextStep.display_name ]]
{% endblock %}
{% block additional_models %}
<div ng-show="state=='Diagnosis'">
  <form class="form-horizontal">
    {% input label="Condition" model="additionalModelsData.Diagnosis.condition" lookuplist="condition_list" %}
    {% checkbox label="Provisional?" model="additionalModelsData.Diagnosis.provisional" %}
    {% input label="Details" model="additionalModelsData.Diagnosis.details" %}
    {% datepicker label="Date of diagnosis" model="additionalModelsData.Diagnosis.date_of_diagnosis" %}
  </form>

  <button class="btn btn-lg btn-primary pull-right" ng-click="goToNextStep()">
    <i class="fa fa-arrow-right"></i>
    <span ng-show="!nextStep">
      [[ route.verb ]] to [[ route.name ]]
    </span>
    <span ng-show="nextStep">
      [[ nextStep.display_name ]]
    </span>
  </button>
</div>

{% endblock %}
