{% extends 'modal_base.html' %}

{% load forms %}
{% block icon %}<i class="fa fa-crosshairs"></i>{% endblock %}

{% block modal_body %}
  <form class="form-horizontal">
    <div ng-hide="profile.has_role('scientist')">
      {% select "autofocus" label="Test" model="editing.test" lookuplist="specimin_appearance_list" %}
      {% datepicker label="Date ordered" model="editing.date_ordered" %}
      {% input label="Details" model="editing.details" %}
      {% checkbox label="Significant Organism" model="editing.significant_organism" %}
      {% input label="Organism Details" model="editing.organism_details" lookuplist="organism_details_list" %}
      {% input label="Antimicrobials Susceptible" model="editing.antimicrobials_susceptible" lookuplist="antimicrobial_susceptability_list" %}
      {% input label="Antimicrobials Intermediate" model="editing.antimicrobials_intermediate" lookuplist="antimicrobial_susceptability_list" %}
      {% input label="Antimicrobials Resistant" model="editing.antimicrobials_resistant" lookuplist="antimicrobial_susceptability_list" %}
      {% checkbox label="Retrieved" model="editing.retrieved" %}
    </div>
    {% checkbox label="Sweep Biobanked" model="editing.sweep_biobanked" %}
    {% checkbox label="Organism Biobanked" model="editing.organism_biobanked" %}
    {% checkbox label="ESBL" model="editing.esbl" %}
    {% checkbox label="Carbapenemase" model="editing.carbapenemase" %}    
  </form>
{% endblock %}
