{% extends 'modal_base.html' %}
{% load forms %}
{% block icon %}<i class="fa fa-bolt"></i>{% endblock %}
{% block modal_body %}
  <form name="lineForm" class="form-horizontal">
    {% select "autofocus" label="Line Type" model="editing.line_type" lookuplist="line_type_list" %}
    {% input label="Site" model="editing.site" lookuplist="line_site_list" %}
    {% datepicker "data-date-type=\"date\"" label="Insertion Date" model="editing.insertion_datetime" %}
    <div class="form-group" ng-show="editing.line_type == 'Peripheral cannula'">
      <label class="control-label col-sm-3">Insertion Time</label>
      <div class="col-sm-3">
	<input class="form-control" type="text"
               ng-model="editing.insertion_datetime"
               bs-timepicker
               />
      </div>
    </div>
    {% input label="Inserted By" model="editing.inserted_by" %}
    {% input label="External Length When Inserted" model="editing.external_length" show="editing.line_type != 'Peripheral cannula'" unit="cm" %}
    {% datepicker "data-date-type=\"date\"" label="Removal Date" model="editing.removal_datetime" %}

    <div class="form-group" ng-show="editing.line_type == 'Peripheral cannula'">
      <label class="control-label col-sm-3">Removal Time</label>
      <div class="col-sm-3">
	<input class="form-control" type="text"
               ng-model="editing.removal_datetime"
               bs-timepicker
               />
      </div>
    </div>
    {% select label="Complications" model="editing.complications" lookuplist="line_complication_list" other=True %}
    {% select label="Removal Reason" model="editing.removal_reason" lookuplist="line_removal_reason_list" %}
    {% textarea label="Special Instructions" model="editing.special_instructions" %}
  </form>
{% endblock %}
{% block modal_save %}
  <button class="btn btn-primary" ng-disabled="lineForm.insertion_time.$invalid" ng-click="save('save')">Save</button>
{% endblock %}
