{% extends 'modal_base.html' %}
{% load forms %}
{% block icon %}<i class="fa fa-crosshairs"></i>{% endblock %}
{% block modal_body %}
  <form class="form-horizontal">

    {% input "autofocus" label="Test" model="editing.test" lookuplist="microbiology_test_list" %}
    {% datepicker label="Date ordered" model="editing.date_ordered" %}
    {% input label="Details" model="editing.details" %}

    {% input label="Microscopy" model="editing.microscopy" show="testType == 'micro_test_mcs'" %}
    {% input label="Organism" model="editing.organism" lookuplist="microbiology_organism_list" show="testType == 'micro_test_mcs'" %}
    {% input label="Sensitive antibiotics" model="editing.sensitive_antibiotics" lookuplist="antimicrobial_list" show="testType == 'micro_test_mcs'" %}
    {% input label="Resistant antibiotics" model="editing.resistant_antibiotics" lookuplist="antimicrobial_list" show="testType == 'micro_test_mcs'" %}

    {% radio label="IgM" model="editing.igm" show="testType == 'micro_test_serology'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}
    {% radio label="IgG" model="editing.igg" show="testType == 'micro_test_serology'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}
    
    {% radio label="IgM" model="editing.vca_igm" show="testType == 'micro_test_ebv_serology'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}
    {% radio label="IgG" model="editing.vca_igg" show="testType == 'micro_test_ebv_serology'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}
    {% radio label="EBNA IgG" model="editing.ebna_igg" show="testType == 'micro_test_ebv_serology'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}
    
    {% radio label="Result" model="editing.result" show="testType == 'micro_test_hiv'" lookuplist="['pending', 'antibody positive', 'p24 antigen only', 'negative']" %}

    {% radio label="HBsAg" model="editing.hbsag" show="testType == 'micro_test_hepititis_b_serology'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}
    {% radio label="anti-HbS" model="editing.anti_hbs" show="testType == 'micro_test_hepititis_b_serology'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}
    {% radio label="anti-HbCore IgM" model="editing.anti_hbcore_igm" show="testType == 'micro_test_hepititis_b_serology'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}
    {% radio label="anti-HbCore IgG" model="editing.anti_hbcore_igg" show="testType == 'micro_test_hepititis_b_serology'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}

    {% input label="RPR" model="editing.rpr" show="testType == 'micro_test_syphilis_serology'" %}
    {% radio label="TPPA" model="editing.tppa" show="testType == 'micro_test_syphilis_serology'" lookuplist="['pending', 'positive', 'negative']" %}

    {% radio label="Result" model="editing.result" show="testType == 'micro_test_single_test_pos_neg'" lookuplist="['pending', 'positive', 'negative']" %}

    {% radio label="Result" model="editing.result" show="testType == 'micro_test_single_test_pos_neg_equiv'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}

    {% radio label="IgG" model="editing.igg" show="testType == 'micro_test_single_igg_test'" lookuplist="['pending', 'positive', 'negative', 'equivocal', 'not done']" %}
    

    <span ng-show="testType == 'micro_test_viral_load'">

      <div class="form-group">
        <label class="control-label col-sm-3">Viral load</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" ng-model="editing.viral_load">
        </div>
      </div>

    </span>

    <span ng-show="testType == 'micro_test_parasitaemia'">

      <div class="form-group">
        <label class="control-label col-sm-3">Parasitaemia</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" ng-model="editing.parasitaemia">
        </div>
      </div>

    </span>

    <span ng-show="testType == 'micro_test_swab_pcr'">

      <div class="form-group">
        <label class="control-label col-sm-3">HSV</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.hsv">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.hsv">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.hsv">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">VZV</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.vzv">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.vzv">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.vzv">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Syphilis</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.syphilis">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.syphilis">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.syphilis">
            negative
          </label>

        </div>
      </div>

    </span>

    <span ng-show="testType == 'micro_test_c_difficile'">

      <div class="form-group">
        <label class="control-label col-sm-3">C. difficile antigen</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.c_difficile_antigen">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.c_difficile_antigen">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.c_difficile_antigen">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">C. difficile toxin</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.c_difficile_toxin">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.c_difficile_toxin">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.c_difficile_toxin">
            negative
          </label>

        </div>
      </div>

    </span>

    <span ng-show="testType == 'micro_test_leishmaniasis_pcr'">

      <div class="form-group">
        <label class="control-label col-sm-3">Species</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" ng-model="editing.species">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Result</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.result">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.result">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.result">
            negative
          </label>

        </div>
      </div>

    </span>

    <span ng-show="testType == 'micro_test_csf_pcr'">

      <div class="form-group">
        <label class="control-label col-sm-3">HSV-1</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.hsv_1">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.hsv_1">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.hsv_1">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">HSV-3</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.hsv_3">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.hsv_3">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.hsv_3">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Enterovirus</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.enterovirus">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.enterovirus">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.enterovirus">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">CMV</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.cmv">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.cmv">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.cmv">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">EBV</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.ebv">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.ebv">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.ebv">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">VZV</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.vzv">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.vzv">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.vzv">
            negative
          </label>

        </div>
      </div>

    </span>

    <span ng-show="testType == 'micro_test_respiratory_virus_pcr'">

      <div class="form-group">
        <label class="control-label col-sm-3">Influenza-A</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.influenza_a">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.influenza_a">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.influenza_a">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Influenza-B</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.influenza_b">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.influenza_b">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.influenza_b">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Parainfluenza</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.parainfluenza">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.parainfluenza">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.parainfluenza">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Metapneumovirus</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.metapneumovirus">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.metapneumovirus">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.metapneumovirus">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">RSV</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.rsv">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.rsv">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.rsv">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Adenovirus</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.adenovirus">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.adenovirus">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.adenovirus">
            negative
          </label>

        </div>
      </div>

    </span>

    <span ng-show="testType == 'micro_test_stool_pcr'">

      <div class="form-group">
        <label class="control-label col-sm-3">Norovirus</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.norovirus">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.norovirus">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.norovirus">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Rotavirus</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.rotavirus">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.rotavirus">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.rotavirus">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Adenovirus</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.adenovirus">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.adenovirus">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.adenovirus">
            negative
          </label>

        </div>
      </div>

    </span>

    <span ng-show="testType == 'micro_test_stool_parasitology_pcr'">

      <div class="form-group">
        <label class="control-label col-sm-3">Giardia</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.giardia">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.giardia">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.giardia">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Entamoeba Histolytica</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.entamoeba_histolytica">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.entamoeba_histolytica">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.entamoeba_histolytica">
            negative
          </label>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Cryptosporidium</label>
        <div class="col-sm-8">

          <label class="radio-inline">
            <input class="" type="radio" value="pending" ng-model="editing.cryptosporidium">
            pending
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="positive" ng-model="editing.cryptosporidium">
            positive
          </label>

          <label class="radio-inline">
            <input class="" type="radio" value="negative" ng-model="editing.cryptosporidium">
            negative
          </label>

        </div>
      </div>

    </span>

    <span ng-show="testType == 'micro_test_other'">

      <div class="form-group">
        <label class="control-label col-sm-3">Result</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" ng-model="editing.result">
        </div>
      </div>

    </span>

    {% select label="Reason not done" model="editing.hiv_declined" show="editing.test == 'HIV Point of Care' && editing.result == 'not done'" lookuplist="hiv_no_list" %}

  </form>
{% endblock %}
