{% extends 'modal_base.html' %}
{% load forms %}

{% block icon %}<i class="fa fa-comments"></i>{% endblock %}
{% block modal_body %}
  <div class="row">
    <div class="col-md-8">

      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3">Date</label>
          <div class="col-sm-8">
    	    <input class="form-control" type="text" placeholder="Date" ng-model="editing.created" bs-datepicker>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Time</label>
          <div class="col-sm-8">
          <input type="text" size="8" class="form-control" ng-model="editing.datetime"
                 data-autoclose="1" placeholder="Time" bs-timepicker>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Advice given by</label>
          <div class="col-sm-8">
	    <input class="form-control" type="text" ng-model="editing.initials" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Reason for clinical interaction</label>
          <div class="col-sm-8">
            <select class="form-control" ng-model="editing.reason_for_interaction">
              <option ng-repeat="reason in clinical_advice_reason_for_interaction_list">[[reason]]</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Clinical discussion</label>
          <div class="col-sm-8">
	    <textarea
               class="form-control"
               ng-model="editing.clinical_discussion"
               rows="5"
               {% include 'partials/_mentio_edit_item.html' %}
               ></textarea>

          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Discussed with</label>
          <div class="col-sm-8">
	    <input class="form-control" type="text" ng-model="editing.discussed_with">
          </div>
        </div>

        <table>
          <tr>
	    <td>
              {% checkbox label="Clinical advice given?" model="editing.clinical_advice_given" %}
	    </td>
	    <td>
              {% checkbox label="Change in antibiotic prescription?" model="editing.change_in_antibiotic_prescription" %}
	    </td>
          </tr>
          <tr>
	    <td>
              {% checkbox label="Infection control advice given?" model="editing.infection_control_advice_given" %}
	    </td>
	    <td>
              {% checkbox label="Referred to OPAT?" model="editing.referred_to_opat" %}
	    </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="col-md-4">
      {% include 'modals/_allergies_sidebar.html' %}
    </div>

  </div>
{% endblock %}
{% block modal_save %}
  <button     class="btn btn-primary" ng-click="save('save')">
    <i class="fa fa-save"></i>
    Save
  </button>
{% endblock %}
{% block modal_another %}{% endblock %}
{% block modal_cancel %}<button class="btn" ng-click="cancel()">Close</button>{% endblock %}
