{% extends 'modal_base.html' %}
{% load forms %}
{% block icon %}<i class="fa fa-check-square-o"></i>{% endblock %}
{% block modal_body %}
<form class="form-horizontal">
  {% input "autofocus" label="Line" model="editing.line" %}
  {% datepicker label="Assessment Date" model="editing.assessment_date" %}
  {% select label="VIP Score" model="editing.vip_score" lookuplist="[0,1,2,3,4,5]"%}
  {% input label="Dressing Type" model="editing.dressing_type" %}
  {% datepicker label="Dressing Change Date" model="editing.dressing_change_date" %}
  {% input label="Dressing Change Reason" model="editing.dressing_change_reason" %}
  {% datepicker label="Bionector Change Date" model="editing.bionector_change_date" %}
  {% checkbox label="Dressing Intact" model="editing.dressing_intact" %}
  {% checkbox label="Lumen flush OK" model="editing.lumen_flush_ok" %}
  {% checkbox label="Blood Drawback Seen" model="editing.blood_drawback_seen" %}
  {% checkbox label="CM from exit site" model="editing.cm_from_exit_site" %}
</form>
{% endblock %}
