{% extends 'modal_base.html' %}
{% block modal_body %}
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Suspected?</label>
		<div class="controls">
			<input type="checkbox" ng-model="editing.suspected" autofocus>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Infection</label>
		<div class="controls">
			<input type="text"
                               ng-model="editing.infection"
                               ng-options="c for c in reported_infections_list"
                               bs-typeahead>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Date Reported</label>
		<div class="controls">
			<input type="text" ng-model="editing.date_reported" bs-datepicker>
		</div>
	</div>
</form>
{% endblock %}
