{% extends 'modal_base.html' %}
{% block modal_body %}
  <style>
.checkbox input[type="checkbox"] {
opacity: 1
}
</style>
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-3">Test</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input class="" type="radio" value="hapvap" ng-model="editing.rid_rti_test.test">
        HAP/VAP
      </label>
      <label class="radio-inline">
        <input class="" type="radio" value="cap" ng-model="editing.rid_rti_test.test">
        CAP
      </label>
      <label class="radio-inline">
        <input class="" type="radio" value="orti" ng-model="editing.rid_rti_test.test">
        ORTI
      </label>
    </div>
  </div>

  {% include '_ridrti_hapvap_results.html' %}
  {% include '_ridrti_cap_results.html' %}
  {% include '_ridrti_orti_results.html' %}

  <div class="form-group">
    <label class="control-label col-sm-3">Notes</label>
    <div class="col-sm-8">
      <textarea class="form-control" ng-model="editing.rid_rti_test.notes" rows="5"></textarea>
    </div>
  </div>

  
</form>
{% endblock %}
