{% load forms %}

<form class="form-horizontal" name="modal_form">
  <div class="row">
      {% datetimepicker field="OPATReview.datetime" %}
      {% input "autofocus" field="OPATReview.initials" %}
      {% select field="OPATReview.rv_type" %}
      <div ng-show="{% js_model "OPATReview.rv_type" %}.indexOf('Nurse') == 0">
        <hr >
        <h4>Nurse Review</h4>
        {% checkbox field="OPATReview.dressing_changed" %}
        {% checkbox field="OPATReview.bung_changed" %}
        {% textarea field="OPATReview.medication_administered" %}
        {% input field="OPATReview.adverse_events" %}
      </div>
    </div>
    <div class="col-md-4">
      {% include 'modals/_allergies_sidebar.html' %}
    </div>
  </div>
  <div class="row" ng-show="{% js_model "OPATReview.rv_type" %}.indexOf('Nurse') == 0">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <label>OPAT Plan</label>
      <textarea class="form-control" ng-model="{% js_model "OPATReview.opat_plan" %}" rows="5" {% include 'partials/_mentio_edit_item.html' %} autocomplete="off"></textarea>
    </div>
  </form>
</div>
