{% extends "referral/elcid_base_referral.html" %}
{% load forms %}
{% block additional_models_title %}
<p class="lead text-center" ng-show="state=='diagnosis'">
  Please enter [[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname ]]'s diagnosis
</p>
{% endblock %}

{% block additional_models_header %}
<i class="fa fa-stethoscope"></i>
  [[ currentAdditionalData().display_name ]]
{% endblock %}

{% block additional_models %}
<div ng-show="state=='diagnosis'">
  <form class="form-horizontal">
    {% input label="Condition" model="additionalModelsData.diagnosis.condition" lookuplist="condition_list" %}
    {% checkbox label="Provisional?" model="additionalModelsData.diagnosis.provisional" %}
    {% input label="Details" model="additionalModelsData.diagnosis.details" %}
    {% datepicker label="Date of diagnosis" model="additionalModelsData.diagnosis.date_of_diagnosis" %}
  </form>

  <button one-click-only ng-if="!getNextStep()" ng-click="nextStep()" class="btn btn-lg btn-primary pull-right">
      <i class="fa fa-arrow-right"></i>
      [[ route.verb ]] to [[ route.name ]]
  </button>
  <button ng-if="getNextStep()" ng-click="nextStep()" class="btn btn-lg btn-primary pull-right">
      <i class="fa fa-arrow-right"></i>
      [[ getNextStep().display_name ]]
  </button>
</div>

{% endblock %}

{% block success_title %}
  <i class="fa fa-check"></i>
  We've created a <a href="[[ success_link ]]">Micro-Haematology record</a> for
  this patient
{% endblock success_title %}
