{% load forms %}
<div class="panel panel-default">
  <div class="panel-heading ">
    <h4>
      <i class="fa fa-tasks"></i>
      [[ ward_round.name ]]
    </h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <p>
        Patient [[ this_episode_number + 1 ]] of [[ total_episodes ]]
        <br />
        <button class="btn btn-secondary btn-sm"
                ng-click="open_modal('WardRoundFindPatientCtrl', '/templates/wardround/find_patient.html', 'md', {episodes: results})">
          {% icon 'fa-search' %}
          Find Patient
        </button>
      </p>
    </li>
    <li class="list-group-item">
        <button type="button" class="btn btn-lg btn-sm btn-secondary pull-left"
                ng-hide="this_episode_number == 0"                
                ng-click="previous()"
                >
          <i class="fa fa-chevron-left"></i>
          Previous
        </button>
        <button type="button" class="btn btn-lg btn-secondary btn-sm pull-right"
                ng-hide="this_episode_number+ 1 == total_episodes"
                ng-click="next()"
                >
          <i class="fa fa-chevron-right"></i>                    
          Next
        </button>      
    </li>
  </ul>
</div>  
