{% load forms %}
{% input label="Address line 1" model="editing.contact_details.address_line1" %}
{% input label="Address line 2" model="editing.contact_details.address_line2" %}
{% input label="City" model="editing.contact_details.city" %}
{% input label="County" model="editing.contact_details.county" %}
{% input label="Post Code" model="editing.contact_details.post_code" %}
{% input label="Telephone 1" model="editing.contact_details.telephone1" %}
{% input label="Telephone 2" model="editing.contact_details.telephone2" %}
