{% load forms %}
<div ng-show="{% js_model "Demographics.external_system" %}">
  {% static "Demographics.hospital_number" %}
  {% static "Demographics.nhs_number" %}
</div>
<div ng-hide="{% js_model "Demographics.external_system" %}">
  {% input "autofocus" field="Demographics.hospital_number" %}
  {% input field="Demographics.nhs_number" label="NHS Number" %}
</div>
<div class="form-group" ng-show="{% js_model "Demographics.external_system" %}">
  <label class="control-label col-sm-3">
    Name
  </label>
  <p class="form-control-static col-sm-8">
    [[ demographics.title ]]
    [[ demographics.first_name ]]
    [[ demographics.surname ]]
  </p>
</div>
<span ng-show="{% js_model "Demographics.external_system" %}">
  {% static "Demographics.date_of_birth" %}
  {% static "Demographics.sex" %}
  {% static "Demographics.marital_status" %}
  {% static "Demographics.ethnicity" %}
</span>
<span ng-hide="{% js_model "Demographics.external_system" %}">
  {% input field="Demographics.first_name" %}
  {% input field="Demographics.surname" %}
  {% date_of_birth_field %}
  {% input field="Demographics.post_code" %}
  {% select field="Demographics.sex" %}
  {% select field="Demographics.marital_status" %}
  {% select field="Demographics.ethnicity" %}
  {% input label="GP Practice Code" field="Demographics.gp_practice_code" %}
</span>
{% input field="Demographics.birth_place" %}
