{% load forms %}
{% input "autofocus" field="Demographics.hospital_number" static="editing.demographics.external_system" %}
{% input field="Demographics.nhs_number" label="NHS Number" static="editing.demographics.external_system" %}
<div class="form-group">
  <span ng-show="editing.demographics.external_system">
    <label class="control-label col-sm-3">
      Name
    </label>
    <p class="form-control-static col-sm-8">
      [[ editing.demographics.title ]]
      [[ editing.demographics.first_name ]]
      [[ editing.demographics.surname ]]
    </p>
  </span>
</div>
<span ng-hide="editing.demographics.external_system">
  {% input field="Demographics.first_name" %}
  {% input field="Demographics.surname" %}
</span>
<span ng-hide="editing.demographics.external_system">
  {% date_of_birth_field %}
  {% input field="Demographics.post_code" %}
  {% select field="Demographics.sex" %}
  {% select field="Demographics.marital_status" %}
  {% select field="Demographics.ethnicity" %}
  {% input label="GP Practice Code" field="Demographics.gp_practice_code" %}
</span>
<span ng-show="editing.demographics.external_system">
  {% static "Demographics.date_of_birth" %}
  {% static "Demographics.sex" %}
  {% static "Demographics.marital_status" %}
  {% static "Demographics.ethnicity" %}
</span>
{% input field="Demographics.birth_place" %}
