{% load forms %}
<div ng-hide="profile.has_role('scientist')">
  {% select "autofocus" label="Test" model="editing.lab_test.test" lookuplist="specimin_appearance_list" %}
  {% datepicker label="Date ordered" model="editing.lab_test.date_ordered" %}
  {% input label="Details" model="editing.lab_test.details" lookuplist="labtestdetails_list"%}
  {% checkbox label="Significant Organism" model="editing.lab_test.significant_organism" %}
  {% input label="Organism Details" model="editing.lab_test.organism_details" lookuplist="organism_details_list" %}
  {% input label="Antimicrobials Susceptible" model="editing.lab_test.antimicrobials_susceptible" lookuplist="antimicrobial_susceptability_list" %}
  {% input label="Antimicrobials Intermediate" model="editing.lab_test.antimicrobials_intermediate" lookuplist="antimicrobial_susceptability_list" %}
  {% input label="Antimicrobials Resistant" model="editing.lab_test.antimicrobials_resistant" lookuplist="antimicrobial_susceptability_list" %}
  {% checkbox label="Retrieved" model="editing.lab_test.retrieved" %}
</div>
{% checkbox label="Sweep Biobanked" model="editing.lab_test.sweep_biobanked" %}
{% checkbox label="Organism Biobanked" model="editing.lab_test.organism_biobanked" %}
{% checkbox label="ESBL" model="editing.lab_test.esbl" %}
{% checkbox label="Carbapenemase" model="editing.lab_test.carbapenemase" %}    
