{% load forms %}
<div class="form-group">
  <label class="control-label col-sm-3">Category</label>
  <div class="col-sm-8" ng-show="{% js_model "Location.category" %} === 'Discharged'">
    <label class="readonly">
      [[ {% js_model "Location.category" %} | title]] &nbsp;
      <button analytics-category="patient-detail" analytics-label="[[ episode.category_name ]]" analytics-event="undischarge"
              analytics-on class="btn" ng-click="undischarge()">Undischarge</button>
    </label>
  </div>
  <div class="col-sm-8" ng-show="{% js_model "Location.category" %} !== 'Discharged'">
    <p>[[ episode.category_name ]]</p>
  </div>
</div>

<div ng-hide="episode.category_name == 'OPAT'">
  {% select field="Location.hospital" lookuplist="hospital_list" other=True %}
</div>

{% select field="Location.ward" lookuplist="ward_list" hide="episode.category_name == 'OPAT'" %}
{% input field="Location.bed" hide="episode.category_name == 'OPAT'" %}
{% datepicker model="episode.start" label="Date of admission" %}

<!-- OPAT Only fields -->
{% datepicker field="Location.opat_referral" show="episode.category_name == 'OPAT'"%}
{% input field="Location.opat_referral_consultant" show="episode.category_name == 'OPAT'" %}
{% select field="Location.opat_referral_team" lookuplist="speciality_list" show="episode.category_name == 'OPAT'" %}
{% textarea field="Location.opat_referral_team_address" show="episode.category_name == 'OPAT'" %}
