{% load panels %}
<div class="col-md-12">
  <div class="panel panel-active">
    <div class="panel-heading text-center">
      <h3>
        {% block title %}
          Walk in clinic visit [[ epidsode.date_of_episode | shortDate ]]
        {% endblock title %}
      </h3>
    </div>
    <div class="panel-body">
      <center>
        <button
           ng-hide="profile.readonly"
           ng-click="dischargeEpisode(episode)"
           class="btn btn-primary btn">
          <i class="fa fa-check"></i>
          Next stage
        </button>
      </center>
    </div>
  </div>
</div>
<div class="col-md-6">
  {% include "partials/current_location.html" %}
  {% teams_panel %}
  {% record_panel models.Travel %}
  {% if GLOSS_ENABLED %}
    {% record_panel models.InpatientAdmission editable=False %}
  {% endif %}
  {% record_panel models.Allergies %}
  {% include 'obs/detail_panel.html' %}
</div>

<div class="col-md-6">
  {% record_panel models.Symptom %}
  {% record_panel models.ClinicalFindings %}
  {% record_panel models.Diagnosis %}
  {% record_panel models.Antimicrobial %}
  {% record_panel models.MicrobiologyTest %}
  {% record_panel models.WalkinNurseLedCare %}
  {% record_panel models.Management %}
  {% record_panel models.MicrobiologyInput %}
</div>
