{% load modalsummary %}

<p ng-show="episode.category_name == 'Walkin' && ((episode.hasTag('walkin_doctor') || episode.hasTag('walkin_review') ) || episode.getTags().length == 1)">
  {% modalsummary 'walkindoctor' %}
</p>

<p ng-show="episode.category_name == 'Walkin' && episode.getTags().length == 1">
  {% modalsummary 'walkinnurse' %}
</p>

<p ng-show="episode.category_name == 'Walkin' && ((episode.hasTag('walkin_doctor') || episode.hasTag('walkin_review') ) || episode.getTags().length == 1)">
  {% modalsummary 'zikaletter' %}
</p>
