<p ng-show="episode.category == 'Walkin' && episode.getTags().length > 1">

  <button
     class="btn btn-primary btn-lg"
     ng-click="dischargeEpisode(episode)">


    <span ng-show="episode.hasTag('walkin_triage')" ><i class="glyphicon glyphicon-ok"></i> Next</span>
    <span ng-show="episode.hasTag('walkin_doctor')" ><i class="glyphicon glyphicon-ok"></i> End of<br>appointment</span>
    <span ng-show="episode.hasTag('walkin_review')" ><i class="glyphicon glyphicon-ok"></i> Next</span>
  </button>
</p>
