{% extends 'modal_base.html' %}
{% block modal_body %}
  <form class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-3">Specimen Type</label>
      <div class="col-sm-8">
	<input class="form-control" type="text"
               ng-model="editing.specimin_type"
               ng-options="c for c in specimin_list"
               bs-typeahead
               >
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Date collected</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.date_collected" bs-datepicker>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Volume</label>
      <div class="col-sm-2">
	<input class="form-control" type="text" ng-model="editing.volume">
      </div>
      <label class="control-label"><small>(ml)</small></label>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Appearance</label>
      <div class="col-sm-8">
	<input class="form-control" type="text"
               ng-model="editing.appearance"
               ng-options="c for c in specimin_appearance_list"
               bs-typeahead
               >
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Epithelial cell</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.epithelial_cell">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">White blood cells</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.white_blood_cells">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Date tested</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.date_tested" bs-datepicker>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">External ID</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.external_id">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-3">Biobanking</label>
      <div class="col-sm-8">
	<input class="" type="checkbox" ng-model="editing.biobanking">
      </div>
    </div>

    <div class="form-group" ng-show="editing.biobanking">
      <label class="control-label col-sm-3">Box number</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.biobanking_box">
      </div>
    </div>

    <div class="form-group" ng-show="editing.biobanking">
      <label class="control-label col-sm-3">Date biobanked</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.date_biobanked" bs-datepicker>
      </div>
    </div>
    
    <div class="form-group" ng-show="editing.biobanking">
      <label class="control-label col-sm-3">Volume biobanked</label>
      <div class="col-sm-8">
	<input class="form-control" type="text" ng-model="editing.volume_biobanked">
      </div>
    </div>

  </form>
{% endblock %}
