{% load modalsummary %}

<span ng-show="episode.category_name == 'OPAT' && !ward_round && episode.getTags().length > 1">
  <button
     ng-hide="profile.readonly"
     ng-click="dischargeEpisode(episode)"
     class="btn btn-primary">
    <i class="fa fa-sitemap"></i>
    <span ng-show="episode.hasTag('opat_referrals')" >Accept / refuse</span>
    <span ng-show="episode.hasTag('opat_current')" >Completed IV</span>
    <span ng-show="episode.hasTag('opat_followup')" >Next</span>
  </button>
  <span ng-show="episode.category_name == 'OPAT'">
    {% modalsummary 'opat' %}
  </span>
</span>
