{% load forms %}
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3">Lymphadenopathy</label>
        <div class="col-sm-8">

            <label class="radio-inline">
                <input class="" type="radio" value="Y" ng-model="editing.clinical_findings.lymphadenopathy">
                Yes
            </label>

            <label class="radio-inline">
                <input class="" type="radio" value="N" ng-model="editing.clinical_findings.lymphadenopathy">
                No
            </label>

            <label class="radio-inline">
                <input class="" type="radio" value="NAD" ng-model="editing.clinical_findings.lymphadenopathy">
                Not assessed
            </label>
        </div>
    </div>

    <span ng-show="editing.clinical_findings.lymphadenopathy == 'Y'">
        <div class="form-group">
            <label class="control-label col-sm-3">Details</label>
            <div class="col-sm-8">
                <input class="form-control" type="text"
                     ng-model="editing.clinical_findings.lymphadenopathy_details">
            </div>
        </div>
    </span>

    <div class="form-group">
        <label class="control-label col-sm-3">Jaundice</label>
        <div class="col-sm-8">

            <label class="radio-inline">
                <input class="" type="radio" value="Y" ng-model="editing.clinical_findings.jaundice">
                Yes
            </label>

            <label class="radio-inline">
                <input class="" type="radio" value="N" ng-model="editing.clinical_findings.jaundice">
                No
            </label>

            <label class="radio-inline">
                <input class="" type="radio" value="NAD" ng-model="editing.clinical_findings.jaundice">
                Not assessed
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Dehydrated</label>
        <div class="col-sm-8">

            <label class="radio-inline">
                <input class="" type="radio" value="Y" ng-model="editing.clinical_findings.dehydrated">
                Yes
            </label>

            <label class="radio-inline">
                <input class="" type="radio" value="N" ng-model="editing.clinical_findings.dehydrated">
                No
            </label>

            <label class="radio-inline">
                <input class="" type="radio" value="NAD" ng-model="editing.clinical_findings.dehydrated">
                Not assessed
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Rash</label>
        <div class="col-sm-8">

            <label class="radio-inline">
                <input class="" type="radio" value="Y" ng-model="editing.clinical_findings.rash">
                Yes
            </label>

            <label class="radio-inline">
                <input class="" type="radio" value="N" ng-model="editing.clinical_findings.rash">
                No
            </label>

            <label class="radio-inline">
                <input class="" type="radio" value="NAD" ng-model="editing.clinical_findings.rash">
                Not assessed
            </label>
        </div>
    </div>

    {% input field="ClinicalFindings.rash_type" show="editing.clinical_findings.rash == 'Y'" %}
    {% input field="ClinicalFindings.rash_distribution" show="editing.clinical_findings.rash == 'Y'" %}

    <div class="form-group">
        <label class="control-label col-sm-3">Cardiovascular</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="editing.clinical_findings.cardiovascular">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Respiratory</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="editing.clinical_findings.respiratory">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Abdominal</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="editing.clinical_findings.abdominal">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Oropharnyx</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="editing.clinical_findings.oropharnyx">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Neurological</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="editing.clinical_findings.neurological">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Other findings</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="editing.clinical_findings.other_findings">
        </div>
    </div>
</form>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-secondary pull-left"
              ng-click="prepopulate($event)"
              data-lymphadenopathy="N"
              data-jaundice="N"
              data-dehydrated="N"
              data-rash="N"
              data-cardiovascular="NAD"
              data-respiratory="NAD"
              data-abdominal="NAD"
              data-oropharnyx="NAD"
              data-neurological="NAD"
              data-other_findings="NAD"
              ><i class="fa fa-file-text"></i> NAD</button>
    </div>
</div>
