<span ng-hide="extractQuery.completeCriteria().length">
  <h4>Please enter a query</h4>
</span>
<span ng-show="extractQuery.completeCriteria().length">
  <h4>Your Criteria</h4>
  Find patients where the
  <span ng-repeat="query in extractQuery.completeCriteria()">
    {% for description in widget_descriptions %}
      <span ng-if="extractSchema.findField(query.column, query.field).widget_description === '{{ description }}'">
        {% include description %}
      </span>
    {% endfor %}
  </span>
</span>
