{% comment %}
  Comes packing with rule, ie the search rule/extract serializer and field, ie the search field
{% endcomment %}
<div class="search-info">
  <div class="search-info-title">
    <strong>{{ rule.get_display_name }}</strong>
  </div>
  {% if rule.get_description %}
    <div>
      {{ rule.get_description }}
      <div class="content-offset-10"></div>
    </div>
  {% endif %}
  <div>
    <strong>{{ field.get_display_name }}</strong>
    {% if not field.get_lookup_list %}
      {{ field.get_type_display_name }}
    {% endif %}
  </div>
  {% if field.get_lookup_list %}
    Normally coded as a
    <a href=""
       class="orange-link"
       ng-click="open_modal('LookupListReferenceCtrl', '/templates/modals/lookuplist_reference.html', {lookuplist_name: '{{ field.get_lookup_list }}', lookuplist: referencedata.get('{{ field.get_lookup_list }}')})">
       {{ field.get_lookup_list_display_name }}
    </a>
    but free text entries are possible.
  {% endif %}
  {% if field.get_description %}
    {{ field.get_description }}
  {% endif %}
</div>
