[[item.category]]<br />
<span ng-hide="item.hospital=='UCH'">[[item.hospital]] </span>
[[item.ward]] [[item.bed]]<br />
Admitted: [[row.date_of_admission | shortDate]]
<span ng-show="row.discharge_date">
  Discharged [[row.discharge_date | shortDate]]
</span>
<br />
<a
   class="screen-only btn btn-primary" href="#"
   ng-click="dischargeEpisode($parent.$index, $event)">
  <span ng-show="currentSubTag == 'opat_referrals'" >Accept / refuse</span>
  <span ng-show="currentSubTag == 'opat_current'" >Completed IV</span>
  <span ng-show="currentSubTag == 'opat_followup'" >Completed Treatment</span> 
  <i class="glyphicon glyphicon-ok"></i>
</a>

